{% extends "base.html" %}
{% block content %}
Welcome {{userdetail.username}}
<div class="container " style="background-color:cyan;">
	Tweets: {{ userdetail.tweet.all.count }}<hr>
    <div class="row">
	<div class="col text-uppercase" style="background-color:yellow;">Tweet Id</div>
    <div class="col text-uppercase" style="background-color:yellow;">Tweets </div>
    <div class="col text-uppercase" style="background-color:yellow;">Favourites </div>
    <div class="w-100"></div>
    {# <div class="col">Favourites </div> #}
	{% for item in userdetail.tweet.all %}
    <div class="col">{{item.id}}</div>
    <div class="col">{{item.tweet}}</div>
    <div class="col">{{item.favourite.all.count}}</div>
    <div class="w-100"></div>
    {% endfor %}
  </div>
</div>
<a href="/tweet">Tweet</a><br>
<br>
<div class="container" style="background-color:cyan;">
	Followers : {{userdetail.follower.all.count}} <hr>
	<div class="row">
	<div class="col text-uppercase" style="background-color:green;">User ID</div>
    <div class="col text-uppercase" style="background-color:green;">User Name </div>
    <div class="w-100"></div>
	{% for item in userdetail.follower.all %}
    <div class="col">{{item.id}}</div>
    <div class="col">{{item.first_name}}</div>
    <div class="w-100"></div>
    {% endfor %}
  </div>
</div>
<a href="/logout">Logout</a><br>
{% endblock %}